# Objective

**Day 16 of the [#30DayChartChallenge challenge](https://github.com/Z3tt/30DayChartChallenge_Collection2021/blob/main/README.md)**

**Topic: 16. trees**

Used Dataset: https://www.kaggle.com/burhanykiyakoglu/predicting-house-prices?select=kc_house_data.csv

# Setup

In [30]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from dtreeviz.trees import dtreeviz 
import matplotlib.pyplot as plt
from matplotlib.collections import EllipseCollection
import seaborn as sns
sns.set_theme(style="ticks")

# Read Data

In [31]:
df_penguins = pd.read_csv("../data/penguins/penguins.csv")
df_penguins.head()

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

# Prepare Data

* Classes: species

In [32]:
df_penguins["island"].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [33]:
df_penguins["island"] = df_penguins["island"].replace({"Torgersen": 0, "Biscoe": 1, "Dream": 2})
df_penguins["sex"] = df_penguins["sex"].replace({"male": 0, "female": 1})
df_penguins.dropna(inplace=True)
df_penguins.head()

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,0,39.1,18.7,181.0,3750.0,0.0,2007
1,2,Adelie,0,39.5,17.4,186.0,3800.0,1.0,2007
2,3,Adelie,0,40.3,18.0,195.0,3250.0,1.0,2007
4,5,Adelie,0,36.7,19.3,193.0,3450.0,1.0,2007
5,6,Adelie,0,39.3,20.6,190.0,3650.0,0.0,2007

In [34]:
df_features = df_penguins[["island", "bill_length_mm", "bill_depth_mm", "flipper_length_mm", "body_mass_g", "sex"]]
df_labels = df_penguins[["species"]]

In [35]:
df_labels = df_labels.replace({"Adelie": 0, "Gentoo": 1, "Chinstrap": 2})

# Decision Tree

In [36]:
class_names = ["Adelie", "Gentoo", "Chinstrap"]
feature_names = df_features.columns

In [37]:
clf = DecisionTreeClassifier(random_state=42)
clf.fit(df_features.values, df_labels.values)

DecisionTreeClassifier(random_state=42)

In [46]:
X = df_features.values
y = df_labels.values.ravel()

viz = dtreeviz(clf, X, y, 
               target_name="target",
               feature_names=feature_names,
               class_names=class_names)
viz
viz.save("../plots/day16_trees.svg")
#plt.savefig("../plots/day16_trees.png");