# Objective

**Day 8 of the [#30DayChartChallenge challenge](https://github.com/Z3tt/30DayChartChallenge_Collection2021/blob/main/README.md)**

**Topic: 8. abstract**

Used Dataset: https://www.kaggle.com/csanhueza/the-marvel-universe-social-network

# Setup

In [45]:
import pandas as pd
import networkx as nx
import pyvis
from pyvis.network import Network

# Read The Data

In [46]:
df_edges = pd.read_csv("../data/marvel/edges.csv")
df_nodes = pd.read_csv("../data/marvel/nodes.csv")
df_hero_network = pd.read_csv("../data/marvel/hero-network.csv")

In [47]:
df_edges.head()

                   hero   comic
0  24-HOUR MAN/EMMANUEL  AA2 35
1  3-D MAN/CHARLES CHAN   AVF 4
2  3-D MAN/CHARLES CHAN   AVF 5
3  3-D MAN/CHARLES CHAN   COC 1
4  3-D MAN/CHARLES CHAN  H2 251

In [48]:
df_nodes.head()

                   node   type
0               2001 10  comic
1                2001 8  comic
2                2001 9  comic
3  24-HOUR MAN/EMMANUEL   hero
4  3-D MAN/CHARLES CHAN   hero

In [49]:
df_hero_network.head()

                  hero1                 hero2
0         LITTLE, ABNER        PRINCESS ZANDA
1         LITTLE, ABNER  BLACK PANTHER/T'CHAL
2  BLACK PANTHER/T'CHAL        PRINCESS ZANDA
3         LITTLE, ABNER        PRINCESS ZANDA
4         LITTLE, ABNER  BLACK PANTHER/T'CHAL

In [83]:
got_net = Network(height='750px', width='100%', bgcolor='#212946')

# set the physics layout of the network
got_net.barnes_hut(
gravity=-80000,
central_gravity=0.3,
spring_length=250,
spring_strength=0.001,
damping=0.09,
overlap=0,
)
#got_net.barnes_hut()
sources = df_hero_network['hero1'][:12000]
targets = df_hero_network['hero2'][:12000]

edge_data = zip(sources, targets)

for e in edge_data:
    src = e[0]
    dst = e[1]
    w = 1

    got_net.add_node(src, src, title=src, color="#F2D16B", shape="circle", borderWidth=.2)
    got_net.add_node(dst, dst, title=dst, color="#F2D16B", shape="circle", borderWidth=.2)
    #got_net.add_node(src, src, title=src, shape='circularImage', image ="../images/bokeh-light-gold-glitters.jpg")
    #got_net.add_node(dst, dst, title=dst, shape='circularImage', image ="../images/bokeh-light-gold-glitters.jpg")

    got_net.add_edge(src, dst, value=w, color="#D4AF37")

neighbor_map = got_net.get_adj_list()

# add neighbor data to node hover data
for node in got_net.nodes:
    node['title'] += ' Neighbors:<br>' + '<br>'.join(neighbor_map[node['id']])
    node['value'] = len(neighbor_map[node['id']])

got_net.show('abstract.html')